@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
	text-align: center;
	background-image: url(images/ihartimage.jpg);
	background-size: cover;
}
header{

}
nav{

}

h1{
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 24px
	 }
hr{
	width: 400px;
}
.navlinks{
	padding: 15px;
	text-align: right;
}
#slogan{
	font-style: italic;
}
#description{
	font-family: 'Libre Baskerville', serif;
}
ul {
    text-align: center;
    list-style-type: none;
}

.services{
	font-family: 'Open Sans', sans-serif;

}