
body{
	text-align: center;
	background-image: url(images/ihartimage.jpg);
	background-size: cover;
}
header{

}
nav{

}

h1{
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 24px
	 }
hr{
	width: 400px;
}
#slogan{
	font-style: italics;
}
ul {
    text-align: center;
    list-style-type: none;
}
.navlinks{
	padding: 15px;
}
.services{
	
}