@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* { margin:0; padding:0; box-sizing:border-box; }
body{
	color: rgb(30,30,30);
	background-image: url(../images/ihartimage.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
}
header{

}
nav{
}
h1{
	font-size: 1.5em;
}
hr{
	width: 25em;
}
ul {
	text-align: center;
	list-style-type: none;
}
a {
	color:inherit;
}
.navlinks{
	padding: 1em;
	text-align: right;
}
#description{
	font-family: 'Libre Baskerville', serif;
}
.services{
	margin-top:1em;
}
