@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* { margin:0; padding:0; box-sizing:border-box; }
body{
	color: rgb(30,30,30);
	background-image: url(../images/#.jpg);
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
}
header{
	background-color: #ffed74
	border:1px black solid;
	padding: 20px;
}
nav{
	background-color:#e8c66a
}
section{
	background-color:#ffe2b8
}
aside{
	background-color:#ffc675
}
article{
	background-color:#e89c6c
}
footer{
	background-color:#ff957e
}
h1{
	font-size: 1.5em;
}
hr{
	width: 25em;
}
ul {
	text-align: center;
	list-style-type: none;
}
a {
	color:inherit;
}
.navlinks{
	padding: 1em;
	text-align: right;
}
.picture{
	background-color:
}
#description{
	font-family: 'Libre Baskerville', serif;
	background-color:
}
.services{
	margin-top:1em;
}
