body{
	text-align: center;
	background: <img src="images/ihartimage.jpg";
	background-size: cover;
}
h1{
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 24px
	 }
hr{
	width: 400px;
}
#slogan{
	font-style: italics;
}